@define-color text            @secondary;
@define-color background-alt  alpha(@surface_bright, .4);
@define-color selected        @primary;
@define-color hover           alpha(@surface_container_lowest, .4);
@define-color urgent          @error;

* {
    opacity: 0.99;
    border: none;
    border-radius: 0;

    font-family: "Roboto", "JetBrainsMono Nerd Font Propo";
    font-size: 1.2rem;
    font-weight: 700;

    min-height: 0;
    min-width: 0;

    margin: 0;
    padding:0;
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, .55);
  border-radius: 12px;
  border: 1px solid @selected;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @background-alt;
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */
.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
  border-radius: 12px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

  /* Do not disturb */
.widget-dnd {
  padding: 6px 4px;
  margin: 8px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @background-alt;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 45px;
  margin: 8px;
  border-radius: 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @hover;
}


  /* Music player */
.widget-mpris {
  background-color: transparent;
    border-radius: 16px;
    color: @text;
    margin: 15px 8px 8px 8px;
}
.mpris-overlay{
  border-radius: 16px;
  background-color: transparent; 
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: @background-sec;
    border-radius: 16px;
    padding: 6px 14px;
    margin: 6px;
}
.widget-mpris .widget-mpris-player {
  border-radius: var(--border-radius);
  box-shadow: var(--mpris-album-art-shadow);
}
.widget-mpris > box > button {
  color: @text;
  border-radius: 6px;
}
 
.widget-mpris button {
  transform: scale(1.20);
  color: alpha(@text, 1);
  border-radius: 16px;
  padding: 3px 7px;
  margin: 3px;
}

.widget-mpris button:hover {
  color: @text;
  border-radius: 6px;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}



.control-center trough {
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    @primary_container 0%,
    @tertiary_container 100%
  );
  box-shadow: 0px 0px 5px alpha(@on_surface, 0.5);
}

.control-center trough highlight {
  padding: 5px;
  background: linear-gradient(0deg, @primary 0%, @tertiary 100%);
  border-radius: 16px;
  box-shadow: 0px 0px 3px alpha(@on_surface, 1);
  transition: all 0.4s ease;
}


/* Inherits .control-center */
.widget-backlight trough,
.widget-volume trough {
  background: linear-gradient(
    90deg,
    @primary_container 0%,
    @tertiary_container 100%
  );
  padding: 2px;
  margin: 8px;
  border-radius: 10px;
}